* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #d4623a, #f0956a);
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid aliceblue;
}

.page-links {
  display: flex;
  list-style: none;
}

.home-page > a,
.nav-link > a {
  text-decoration: none;
  display: block;
  padding: 1.8em 2.5em;
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.home-page > a:hover,
.nav-link > a:hover {
  background-color: #ed9369;
}

.home-page > a:active,
.nav-link > a:active {
  background-color: #d65a2d;
}

.hamburger-icon {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.game-btn-container {
  display: flex;
  justify-content: center;
  gap: 0.75em;
}

h1 {
  padding-bottom: 1em;
  color: #fff;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

.game-results {
  display: flex;
  gap: 3em;
  justify-content: center;
  padding: 1em;
  color: #fff;
  font-size: 1.5em;
}

.game-results span.underline {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.game-results span.score {
  font-size: 1.125em;
  font-weight: bold;
}

.reset-btn {
  height: 10vh;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.reset-btn > button {
  text-align: center;
  display: none;
}

.btn {
  height: 3.56rem;
  width: 9.375rem;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5em;
  border: 1px solid white;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.game-btn-container > button:hover {
  background-color: #ed9369;
}

.game-btn-container > button:active {
  background-color: #d65a2d;
  position: relative;
  top: 2px;
}

.result {
  height: 10vh;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  padding: 2em;
}

.result p {
  padding: 0.5em;
}
