* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #d4623a, #f0956a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid aliceblue;
}

.page-links {
  display: flex;
  list-style: none;
}

.home-page > a,
.nav-link > a {
  text-decoration: none;
  display: block;
  padding: 1.8em 2.5em;
  color: aliceblue;
  letter-spacing: 2px;
  font-size: 1.1em;
}

.home-page > a:hover,
.nav-link > a:hover {
  background-color: #ed9369;
}

.home-page > a:active,
.nav-link > a:active {
  background-color: #d65a2d;
}

.hamburger-icon-container {
  display: none;
}

.hamburger-active {
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home-container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.home-container > img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.8;
  filter: blur(1px);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  color: aliceblue;
  text-align: center;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }

  nav {
    flex-wrap: wrap;
  }

  .nav-pages {
    width: 100%;
  }

  nav .page-links {
    display: none;
  }

  nav .page-links.is-open {
    display: flex;
    flex-direction: column;
  }

  nav .hamburger-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1em 2em;
    margin-left: auto;
  }

  nav .hamburger-btn {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
  }
}
